BasedOnStyle: Google
Language: Cpp

# Alineación de punteros
PointerAlignment: Right
DerivePointerAlignment: false

# Alineacion de comentarios
AlignTrailingComments: true

# Alineación de declaraciones y asignaciones
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# Espacios y paréntesis
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
SpacesInSquareBrackets: true
SpaceInEmptyParentheses: false

# Llaves
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

# Otros ajustes
ColumnLimit: 90
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortIfStatementsOnASingleLine: true

# Indentación de preprocesadores
IndentPPDirectives: None

# Configuracion de includes
SortIncludes: true
IncludeBlocks: Regroup

# Mantener bloques como `char *argv[]`
AllowAllParametersOfDeclarationOnNextLine: false

# Comentarios
ReflowComments: true

# Espacios e Indentacion general
KeepEmptyLinesAtTheStartOfBlocks: false
IndentCaseLabels: true

# otros
BreakStringLiterals: true
MaxEmptyLinesToKeep: 2
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 3